.navbar_container {
  width: 100%;
  background-color: black;
  padding: 26px 20px;
  color: white;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 32px;
}
