.empty_state_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 10px 20px 60px 20px;
  gap: 8px;

  .empty_state_title {
    font-size: 46px;
    text-align: center;
  }

  .empty_state_description {
    font-size: 24px;
    text-align: center;
  }
}
